YOUGILE_LOGIN=email@gmail.com
YOUGILE_PASSWORD=
YOUGILE_COMPANY_ID=747bc9b4-8cf9-49c2-a5a4-45f930498a32
YOUGILE_API_KEY=
YOUGILE_PROJECT_NAME=MySQLCenter
YOUGILE_PROJECT_ID=d337f219-00e5-4266-addd-2fbb19d570b6
YOUGILE_BOARD_ID=3985d564-9b4c-40f5-8c3d-c4256a309764
YOUGILE_COLUMN_NAME=Todo
