<config
    host="${config.host}"
    port="${config.port}"
    protocol="${config.protocol}"
    basepath="${config.basepath}"
    saveresponse="true"
    showhtmlparseroutput="true"
    summary="true"
    haltonfailure="false"
    haltonerror="false"
    autorefresh="true"
/>
<group description="Login">
    <invoke url="${baseUrl}" />
    <storeProperty property="database" value="TestDatabase" propertyType="dynamic" />
    <storeProperty property="database2" value="mysqlcenter" propertyType="dynamic" />
    <storeProperty property="table" value="test_table" propertyType="dynamic" />
    <ifStep>
        <condition>
            <not><verifyText description="Find MySQL Center" text="MySQL Center" /></not>
        </condition>
        <setInputField name="user" value="root" />
        <setInputField name="pass" value="kigmfr" />
        <clickButton label="Enter" />
    </ifStep>
</group>