:root {
  --text-color: #000000;
  --hidden-text-color: #CCCCCC;
  --light-text-color: #999999;
  --head-text-color: #CC0000;
  --bg-color: white;
  --cur-color: green;
}

/* Основные стили для шаблона, используются глобально во всех страницах*/

body {font-size:12px; font-family: Arial, serif; color: var(--text-color); background-color: var(--bg-color)}

/* Верх и низ */
div.pageBlock { padding:5px; margin: 5px 0; }
div.pageBlock b a { text-decoration:none; color: var(--text-color)}

/* Каркасная таблица */
.outerTable {display: flex; gap: 10px}
.outerTable .leftCol {width: 160px}
.outerTable .rightCol {width: 100%}
.outerTable h1 { margin:0; font-size:18px; padding:0; line-height:100%; margin-right: 20px}
.outerTable .headTop {display: flex; align-items: center;}
.search-top {display: inline}
.search-top [name="query"].wide {position: absolute; width: 1024px; }
.search-top [name="field"] {max-width: 100px}
.search-top [name="byField"] {width: 80px}
.search-top [type="submit"] {display: none}

/* Меню главное */
div.globalMenu { display:inline; }
div.globalMenu a { margin:0 10px 0 0; text-decoration:none}
div.globalMenu a.cur, div.globalMenu a:hover { text-decoration:underline; color: var(--cur-color)}
div.globalMenu .delim {  margin:0 10px 0 0; color: var(--hidden-text-color)}

/* Меню цепочка */
span.menuChain a { text-decoration:none; color: var(--light-text-color)}
span.menuChain a:hover {color: var(--text-color)}

/* Меню таблиц */
div.menuTables { position: relative}
div.menuTables a { font-size:10px; text-decoration:none; line-height:120%; display:block}
div.menuTables a:hover { text-decoration:underline}
div.menuTables a.cur {color: var(--head-text-color)}
div.menuTables .t1 { margin-left:5px; color: var(--text-color)}
div.menuTables .t2 { color: var(--cur-color) }
div.menuTables .freq0 {color: #ccc}
div.menuTables .freq1 {color: #aaa}
div.menuTables .freq2 {color: #888} /* fedcba9876543210 */

/* Меню баз данных */
div.menuDb { display:none; padding:5px; position:absolute; left:8px; top:8px; border:1px solid #aaa; color: var(--text-color)}
div.menuDb a { line-height:120%; font-size:12px; text-decoration: none; display: block}
div.menuDb a:hover {color:black; text-decoration:underline}

/* Форма SQL запроса всплывающая */
form.popupGeneralForm { display:none; padding:5px; position:absolute; left:20px; top:50px; background-color: var(--bg-color); text-align:right}
form.popupGeneralForm textarea { font-size:12px; width:800px; padding:5px; display:block;}
form.popupGeneralForm input { margin:5px 0 }

/* Таблица сообщения */
table.globalMessage { margin:5px 0; border-collapse:collapse; empty-cells:show}
table.globalMessage td, .globalMessage th { padding: 5px; font-size:12px;}
table.globalMessage th {text-align:left; }
table.globalMessage .sqlQuery { font-size:10px; font-weight:bold; margin:2px 10px; white-space:pre; max-width: 1024px; overflow: auto;}
table.globalMessage .mysqlError { font-size:10px; font-weight:bold; }

/* Таблица основная */
table.contentTable { border-collapse:collapse; empty-cells:show; margin:10px 0 0}
table.contentTable TD { padding: 3px; font-size:12px}
table.contentTable th { padding: 3px; font-size:12px; text-align:left; color: var(--head-text-color)}
table.contentTable th:not(.wide) a {overflow-wrap: anywhere; width: 20px; display: block; word-break: break-all;}
table.contentTable .cb { margin:0; width:18px; height:18px}
table.contentTable th a { text-decoration:none; font-size:10px}
table.contentTable th a:hover { text-decoration:underline}
table.contentTable th a.current { color:red; font-weight: bold }
table.contentTable .tbl { width:200px; font-size:14px}
table.contentTable .num { width:80px; text-align:right;}
table.contentTable .rig { text-align:right;}
table.contentTable a { text-decoration:none}
/* db_compare tbl_compare */
.contentTable .r {text-align:right}
.contentTable .b { font-size:14px;}
.contentTable .diff td{ background-color:#FF3333; color:#FFFFFF}
.contentTable.anone a { text-decoration:none}
.contentTable .e { background-color: #afa}
.contentTable .n { background-color: #faa}

/* Таблица с формой */
form.tableFormEdit { margin:10px 0}
form.tableFormEdit table { border-collapse:collapse; empty-cells:show}
form.tableFormEdit td { padding: 2px 2px; font-size:12px; white-space:nowrap; vertical-align:middle}
form.tableFormEdit th { font-size:12px; white-space:nowrap; color: var(--head-text-color)}
form.tableFormEdit .editHeader td { font-size:14px; font-weight:bold; white-space:nowrap; padding:5px}
form.tableFormEdit .si,
    form.tableFormEdit input,
    form.tableFormEdit select { padding:5px}
form.tableFormEdit .field { font-size:14px}
form.tableFormEdit .submit { display:block; margin:5px 0}
form.tableFormEdit textarea#sqlContent { font-size:12px; width:99%; padding:5px }
form.tableFormEdit td.inner { padding: 0; }

/* Таблица экспорт и поиск */
.tableExport {display: flex; gap: 20px}
.tableExport .sel { font-size:14px; height:150px}
.tableExport .hs { font-size:12px; text-decoration:none; margin:0 5px; color: var(--light-text-color)}
.tableExport .l2 { margin:0 0 0 24px}
.tableExport .ta { font-size:10px}
[name="formExport"] {margin-top: 20px; font-size:14px; white-space:nowrap; line-height:180%;}
[name="formExport"] .options {display: flex; gap: 20px;}
[name="formExport"] label { display:block}
[name="formExport"] label .l2 { margin-left:24px}
[name="formExport"] .tableExport .l2 {margin-right: 5px}
[name="formExport"] [name="fields[]"] {height:120px; width:150px;}
#search_table select {margin-right: 10px}

/* Общая форма внтури fieldset actionsdb actions */
fieldset.msGeneralForm { margin:20px 0; padding: 10px}
fieldset.msGeneralForm form, fieldset.msGeneralForm table { margin:0;}
fieldset.msGeneralForm LEGEND { font-size:14px; }
fieldset.msGeneralForm [type="checkbox"] { vertical-align: middle }
fieldset.msGeneralForm input.submit { display:block; margin-top:5px;}

/* Блок с картинками сабмит: db_list, tbl_data, tbl_struct, tbl_list */
div.imageAction { margin:20px 0}
div.imageAction img, div.imageAction input{ margin:0 0 0 20px; vertical-align:text-top }
div.imageAction img {cursor:pointer}
div.imageAction u { font-weight:bold; font-size:14px}
div.chbxAction {font-size:12px; margin:5px; color: var(--light-text-color)}
img.helpimg {cursor:pointer}

/* Страницы-ссылки для tbl_data */
div.contentPageLinks { margin:5px 0 0;}
div.contentPageLinks a { text-decoration:none; font-size:10px; margin: 0; padding: 2px 5px; border:1px solid #eee; margin-right: 2px}
div.contentPageLinks a.cur { background-color: #0000FF; color:#FFFFFF}
/* Селектор для tbl_data */
select.miniSelector { font-size:12px;}
select.miniSelector option { font-size:12px;}

/* tbl_list */
form.showtableupdated select, form.showtableupdated [type="submit"] {margin-left:3px}
.links-block {padding:10px 0; margin-bottom:10px; font-size:14px;}
.links-block a + a {margin-left: 10px}
table.contentTable.interlaced tr:nth-child(odd) {background-color: #eee;}

/* login page */
.login {display: flex; gap: 10px}
.login .list {width: 50%}
.login .list select {width: 200px; height: 150px; display: block; margin-bottom: 5px}
.login .list [type="button"] {margin-right: 5px}
.login form {margin-top: 10px; width: 30%}
.login form > div {display: flex; margin-bottom: 10px; align-items: center; gap: 10px;}
.login form > div label {width: 90px}

/* Разное */
#msAjaxQueryDiv {position: fixed; right: 0; top: 0; background: white; overflow: auto; max-height: 200px; padding-right:20px; transition: opacity 0.5s ease-out, visibility 0.5s ease-out; opacity: 0;
  visibility: hidden;}
#msAjaxQueryDiv.visible {opacity: 1; visibility: visible;}
h4 {font-size:16px; margin:10px 0 10px; background-color:#eee; padding:10px; width:800px}
.dateString {color: var(--head-text-color)}
a.truncate { color: var(--text-color)!important}
a.delete { color: var(--head-text-color)!important}
textarea.wide {width: 100%; height: 100px}
/* Отображения времени выполнения */
span.hiddenText {color: var(--hidden-text-color)}
/* Для ссылок */
A.hiddenSmallLink { text-decoration:none; font-size:10px; color: var(--hidden-text-color)}

/* Loader */
.loader {
  border: 15px solid #CCCCCC; /* Light grey */
  border-top: 15px solid #CC0000; /* Blue */
  border-radius: 50%;
  width: 52px;
  height: 52px;
  animation: spin 2s linear infinite;
  position:absolute;
  top:0; right:0;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Utilities */
.grey {color:#aaa}
.mb-5 {margin-bottom: 5px;}
.mt-10 {margin-top: 10px}
.mt-20 {margin-top: 20px}
.ml-10 {margin-left: 10px}
.ml-20 {margin-left: 20px}
.w95 {width: 95%}
.mr10 {margin-right: 10px}
.print_r {color:#666; border:1px solid #ccc; padding:10px;}




/* Цвета */

A,
TABLE.contentTable A,
DIV.menuDb A,
DIV.globalMenu A       { color:#0000FF }
DIV.formSet H2         { color:#FFFFFF }

TABLE.globalMessage .mysqlError { color:#FF0000 }

/* Фон */

DIV.menuDb { background-color:#eee }

TABLE.globalMessage th,
TABLE.contentTable TH,
FORM.tableFormEdit .editHeader TD,
FORM.tableFormEdit TH  { background-color:#CCCCCC }

.interlace   { background-color:#eee}
.selectedRow { background-color:#eea!important;}

/* Рамка */

FORM.popupGeneralForm,
TABLE.globalMessage td,
.globalMessage th,
TABLE.contentTable TH,
FORM.tableFormEdit TH  { border: 1px solid #000  }

FORM.formSearch INPUT,
TABLE.contentTable TD  { border: 1px solid #ccc  }

DIV.pageBlock,
FORM.tableFormEdit TD  { border: 1px solid #eee  }

FORM.tableFormEdit .si { border: 1px solid #666  }
